body,html{height:100%;-webkit-tap-highlight-color:transparent}
html {
  font-size: 25.6px !important;
  
}
body {
  font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  font-size: 16px;
  overflow: auto;
  background-color:#fbf9fe;
  margin-bottom: 0px;/* Margin bottom by footer height */
}

#main-header,#main-footer,#main-container{
  position: absolute;
  width: 100%;
}
#main-header{
  z-index: 500;
  top: 0;
  height:56px;
  background-color:#f90;
  display: table;
}

.main-header_content {
  padding: 0 10px;
  height:56px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  color:#fff;
}
.main-header_content i{ 
  font-size:1.3rem;
  cursor:pointer;

}
#main-container{
  height:auto !important;
  top:56px;
  bottom:56px;
  overflow: auto;
  color:#333;
}


#main-footer{
  z-index: 500;
  bottom: 0;
  height:56px;
  border-top:1px solid #ddd;
  background-color:#eee;
}
.main-tabs
{    
  display: table;
  table-layout: fixed;
  cursor:pointer;
  padding-top:5px;
}
.main-tab {
  display: table-cell;
  text-align:center;
  color:#333;
}
.main-tab_active{
  color:#f90;
}
.main-tab i {
  font-size:1.0rem;
}
